//-------------------------------------//
// MEDIA QUERIES

$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;


//-------------------------------------//
// DIMENSIONS

// navmenu height
$height-navmenu: 60px;

// sidebar
$sidebar-width: 250px;

// border-radius
$border-radius-base: 0;
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;


//-------------------------------------//
// COLORS

// color: background
$color-background: #fff;

// color: brand
$color-brand-green: #37A187;
$color-brand-dark: #464646;
$color-brand-light: #EFEFEF;

// color: font
$color-font-base: $color-brand-dark;

$color-primary: #0d6efd;
// $color-secondary: ;
// $color-success: ;
// $color-warning: ;
// $color-info: ;
$color-danger: #d5746d;
// $color-light: ;

// colors: links
$color-link: #0d6efd;
$color-link-hover: lighten(#0d6efd, 15%);

// color: dividers/borders
$color-divider: #EFEFEF;
$color-border: $color-brand-dark;

// color: modal background
$color-modal-bg: #f5f7f9;

// color: shadow
$color-shadow: rgba(0, 0, 0, 0.11);


//-------------------------------------//
// FONTS

// fonts: base styles
$font-family-poppins: 'Poppins', arial, sans-serif;
$font-size-base: 1rem;

// fonts: weights
$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-bold: 700;


//-------------------------------------//
// SPACING

$spacing: 1.75rem;
$spacing-double: $spacing * 2;
$spacing-third: $spacing * 3;
$spacing-half: $spacing / 2;

$page-side-paddings: (
    xl: 70px,
    lg: 50px,
    md: 20px,
    sm: 5px,
    xs: 5px
);


//-------------------------------------//
// Z:INDEX

$zindex-header: 1000;
$zindex-dropdown: 1100;
$zindex-notify: 1300;
$zindex-modal: 1400;
$zindex-overlay: 100;
