
@import 'styles/_variables';
@import 'styles/_mixins';

.pagination {
    align-items: center;
    margin-top: $spacing-half;
    margin-bottom: $spacing-half;

    &__row-count {
        display: flex;
        margin-right: $spacing * 1.5;

        &__select {
            margin-left: $spacing-half;
        }
    }

    &__controls {
        display: flex;
        margin: 0 10px;

        &-prev {
            padding-left: 0.375rem;
            padding-right: 0.7rem;
        }

        &-next {
            padding-right: 0.375rem;
            padding-left: 0.7rem;
        }

        .button {
            margin-left: 15px;
        }
    }
}
