
@import 'styles/_variables';
@import 'styles/_mixins';

.app-form {
    padding-bottom: $spacing;

    .form-group {
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
    }

    &__submit {
        margin-top: 10px;
        width: 100%;
    }
    
    &__controls {
        display: flex;
        justify-content: flex-end;

        .btn {
            margin-top: 10px;
            margin-left: 10px;
            width: unset;
        }
    }

    &__select {
        &.size-sm {
            height: calc(1.5em + 0.5rem + 2px);
            font-size: 0.875rem;
            line-height: 1rem;

            .app-form__select__control, .app-form__select__indicators, .app-form__select__value-container {
                min-height: calc(1.5em + 0.5rem + 2px) !important;
                height: calc(1.5em + 0.5rem + 2px) !important;
            }
        }

        &.size-md {
            height: calc(1.5em + 0.75rem + 2px);
            font-size: 1rem;
            line-height: 1.5rem;

            .app-form__select__control, .app-form__select__indicators {
                min-height: calc(1.5em + 0.75rem + 2px) !important;
                height: calc(1.5em + 0.75rem + 2px) !important;
            }
        }

        &__single-value, &__placeholder {
            top: 45% !important;
        }

        &__control--is-focused {
            box-shadow: none !important;
            // TODO set border-color
            // border-color: $color-brand-green !important;
        }
    }

    input:focus, select:focus, textarea:focus {
        // TODO set border-color
        // border-color: $color-brand-green;
        box-shadow: none;
    }

    .react-datepicker {
        &-wrapper {
            display: inline !important;
        }

        &__input-container {
            input {
                width: 100% !important;
                background: url('../../../assets/icons/calendar.svg') no-repeat 98% !important;
                background-size: 15px;
                border: 1px solid #ced4da;
                border-radius: 3px;
                padding: 0 10px;

                &.size-sm {
                    height: calc(1.5em + 0.5rem + 2px);
                }

                &.size-md {
                    height: calc(1.5em + 0.75rem + 2px);
                }

                &:focus-visible {
                    outline: 0;
                }

                // TODO set border-color
                // &:focus {
                //     border-color: $color-brand-green;
                // }

                &.is-invalid {
                    border-color: $color-danger;
                }
            }
        }
    }
}
