
@import 'styles/_variables';
@import 'styles/_mixins';

.login {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 435px;
        padding: $spacing;
    }

    &__form {
        width: 100%;

        .form-row {
            margin-bottom: $spacing-half;
        }
    }
}
